@model StudentsRooms.Models.Property_Table

@{
    ViewBag.Title = "Add Property";
}

<style>
    .property_rent_div-d-none {
        display: none;
    }
</style>


<!-- Submit Property start -->

<div class="content-area-7 submit-property advanced-search">
    <div class="container">
        @foreach (var item in ViewBag.PropertiesJoinData)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="submit-address">
                        @using (Html.BeginForm("UpdateProperty", "Landlord", FormMethod.Post, new { @enctype = "multipart/form-data"}))
                        {
                            <input type="text" value="@item.property_id" name="property_id" hidden class="form-control" required="required" id="property_name" placeholder="Property Name">

                            <div class="main-title-4">
                                <h1>Basic Information</h1>
                            </div>
                            <div class="search-contents-sidebar mb-30">
                                <div class="row">
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="property_name" class="form-label">Property Name</label>
                                            <input type="text" value="@item.property_name" name="property_name" class="form-control" required="required" id="property_name" placeholder="Property Name">
                                            @Html.ValidationMessage("property_name", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Property Purpose</label>
                                            <select class="selectpicker search-fields" name="property_purpose" id="property_purpose">
                                                <option value="Sale" @(item.property_purpose == "Sale" ? "selected" : "" )>For Sale</option>
                                                <option value="Rent" @(item.property_purpose == "Rent" ? "selected" : "" )>For Rent</option>
                                            </select>
                                            @Html.ValidationMessage("property_purpose", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Property Type</label>
                                            <select class="selectpicker search-fields" name="property_type" id="property_type">
                                                <option value="1" @(item.property_type == 1.ToString() ? "selected" : "" )>Apartment</option>
                                                <option value="2" @(item.property_type == 2.ToString() ? "selected" : "" )>Family House</option>
                                                <option value="3" @(item.property_type == 3.ToString() ? "selected" : "" )>PG</option>
                                                <option value="4" @(item.property_type == 4.ToString() ? "selected" : "" )>Commercial</option>
                                            </select>
                                            @Html.ValidationMessage("property_type", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4  col-md-6 col-sm-12 property_price_div">
                                        <div class="form-group">
                                            <label for="property_price" class="form-label">Property Price</label>
                                            <input type="text" value="@item.property_price" name="property_price" class="form-control" id="property_price" placeholder="INR">
                                            @Html.ValidationMessage("property_price", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4  col-md-6 col-sm-12 property_rent_div property_rent_div-d-none">
                                        <div class="form-group">
                                            <label for="property_rent" class="form-label">Property Rent</label>
                                            <input type="text" value="@item.property_rent" name="property_rent" class="form-control property_rent" id="property_rent" placeholder="INR">
                                            @Html.ValidationMessage("property_rent", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="property_size" class="form-label">Area / Size</label>
                                            <input type="text" value="@item.property_size" name="property_size" class="form-control" required="required" id="property_size" placeholder="SqFt">
                                            @Html.ValidationMessage("property_size", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Bedroom</label>
                                            <select class="selectpicker search-fields" name="property_room_no" id="property_room_no">
                                                <option value="1" @(item.property_room_no == 1 ? "selected" : "" )>1</option>
                                                <option value="2" @(item.property_room_no == 2 ? "selected" : "" )>2</option>
                                                <option value="3" @(item.property_room_no == 3 ? "selected" : "" )>3</option>
                                                <option value="4" @(item.property_room_no == 4 ? "selected" : "" )>4</option>
                                                <option value="5" @(item.property_room_no == 5 ? "selected" : "" )>5</option>
                                            </select>
                                            @Html.ValidationMessage("property_room_no", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Bathroom</label>
                                            <select class="selectpicker search-fields" name="property_bathroom_no" id="property_bathroom_no">
                                                <option value="1" @(item.property_bathroom_no == 1 ? "selected" : "" )>1</option>
                                                <option value="2" @(item.property_bathroom_no == 2 ? "selected" : "" )>2</option>
                                                <option value="3" @(item.property_bathroom_no == 3 ? "selected" : "" )>3</option>
                                                <option value="4" @(item.property_bathroom_no == 4 ? "selected" : "" )>4</option>
                                                <option value="5" @(item.property_bathroom_no == 5 ? "selected" : "" )>5</option>
                                            </select>
                                            @Html.ValidationMessage("property_bathroom_no", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Kitchen</label>
                                            <select class="selectpicker search-fields" name="property_kitchen_no" id="property_kitchen_no">
                                                <option value="1" @(item.property_kitchen_no == 1 ? "selected" : "" )>1</option>
                                                <option value="2" @(item.property_kitchen_no == 2 ? "selected" : "" )>2</option>
                                                <option value="3" @(item.property_kitchen_no == 3 ? "selected" : "" )>3</option>
                                            </select>
                                            @Html.ValidationMessage("property_kitchen_no", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label>Balcony</label>
                                            <select class="selectpicker search-fields" name="property_balcony_no" id="property_balcony_no">
                                                <option value="1" @(item.property_balcony_no == 1 ? "selected" : "" )>1</option>
                                                <option value="2" @(item.property_balcony_no == 2 ? "selected" : "" )>2</option>
                                                <option value="3" @(item.property_balcony_no == 3 ? "selected" : "" )>3</option>
                                            </select>
                                            @Html.ValidationMessage("property_balcony_no", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4  col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="property_age" class="form-label">Property Age</label>
                                            <input type="text" value="@item.property_age" name="property_age" class="form-control" required="required" id="property_age" placeholder="5 Years">
                                            @Html.ValidationMessage("property_age", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="main-title-4">
                                <h1>Property Gallery</h1>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Upload video here</span></div>
                                                    <input type="file" accept="video/*" name="property_video" multiple class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_video", "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                                    <input type="file" value="@item.property_image1" name="property_image1" multiple class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_image1", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                                    <input type="file" value="@item.property_image2" name="property_image2" class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_image2", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                                    <input type="file" value="@item.property_image3" name="property_image3" class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_image3", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                                    <input type="file" value="@item.property_image4" name="property_image4" class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_image4", "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-lg-4  col-md-6 col-sm-12">
                                                <div class="form-group">
                                                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                                                    <input type="file" value="@item.property_image5" name="property_image5" class="dropzone dropzone-design mb-50" />
                                                    @Html.ValidationMessage("property_image5", "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="main-title-4">
                                <h1>Location</h1>
                            </div>
                            <div class="row mb-30 ">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>State</label>
                                        @Html.DropDownListFor(m => m.property_state, ViewBag.StateList as SelectList, "Select State", new { @class = "search-fields form-control  py-0", required = "required" })
                                        @Html.ValidationMessage("property_state", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>District</label>
                                        @Html.DropDownListFor(m => m.property_district, ViewBag.DistrictList as SelectList, "Select District", new { @class = "search-fields form-control  py-0", required = "required" })
                                        @Html.ValidationMessage("property_district", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.DropDownListFor(m => m.property_city, ViewBag.TehsileList as SelectList, "Select City", new { @class = "search-fields form-control  py-0", required = "required" })
                                        @Html.ValidationMessage("property_city", "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="inputcode1" class="form-label">Postal Code</label>
                                        <input type="text" value="@item.property_postal_code" name="property_postal_code" class="form-control" required="required" id="property_postal_code" placeholder="Postal Code">
                                        @Html.ValidationMessage("property_postal_code", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="property_address" class="form-label">Address</label>
                                        <input type="text" value="@item.property_address" name="property_address" class="form-control" required="required" id="property_address" placeholder="Address">
                                        @Html.ValidationMessage("property_address", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-30">
                                <div class="col-lg-12">
                                    <div class="main-title-4">
                                        <h1>Features (optional)</h1>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox1" type="checkbox" @(item.property_parking == true ? "checked" : "" ) name="property_parking" value="true" />
                                                <label for="checkbox1">
                                                    Free Parking
                                                </label>
                                                @Html.ValidationMessage("property_parking", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox2" type="checkbox" @(item.property_ac == true ? "checked" : "" ) name="property_ac" value="true" />
                                                <label for="checkbox2">
                                                    Air Condition
                                                </label>
                                                @Html.ValidationMessage("property_ac", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox3" type="checkbox" @(item.property_water_supply == true ? "checked" : "" ) name="property_water_supply" value="true" />
                                                <label for="checkbox3">
                                                    Water Supply
                                                </label>
                                                @Html.ValidationMessage("property_water_supply", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox4" type="checkbox" @(item.property_wifi == true ? "checked" : "" ) name="property_wifi" value="true" />
                                                <label for="checkbox4">
                                                    WiFi
                                                </label>
                                                @Html.ValidationMessage("property_wifi", "", new { @class = "text-danger" })
                                            </div>
                                            <div class="checkbox checkbox-theme checkbox-circle">
                                                <input id="checkbox5" type="checkbox" @(item.property_window == true ? "checked" : "" ) name="property_window" value="true" />
                                                <label for="checkbox5">
                                                    Window Covering
                                                </label>
                                                @Html.ValidationMessage("property_window", "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-30 ">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="main-title-4">
                                        <h1>Google Map Location Link</h1>
                                    </div>
                                    <div class="form-group">
                                        <h6>Steps to find google map embeded link -</h6>
                                        <p>1. Open Google map.</p>
                                        <p>2. Search for a place. Or, find a place on the map, then touch and hold to drop a pin.</p>
                                        <p>3. At the bottom, tap the place's name or address.</p>
                                        <p>4. Tap Share</p>
                                        <p>5. Tap Embed a map</p>
                                        <p>6. Copy the iframe src link.</p>
                                        <p>7. Paste here.</p>
                                        <input type="text" name="property_map" class="form-control" required="required" id="property_map" placeholder="Paste link here ..." value="@item.property_map">
                                        @Html.ValidationMessage("property_map", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mb-0 clearfix">
                                        <input id="btnsubmit" type="submit" value="Add Property" class="btn-2 btn-defaults" /><i class="arrow"></i>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Submit Property end -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $('#property_state').change(function () {
            //alert($('#property_state').val());
            $.getJSON('/Landlord/DistrictList/' + $('#property_state').val(), function (data) {
                var items = ''; var dropdown = document.getElementById("property_district");
                $(dropdown).empty();

                var newOption1 = document.createElement("option");
                newOption1.innerHTML = "Select District";  //innerHTML & not Text
                newOption1.value = "0";
                dropdown.options.add(newOption1);

                $.each(data, function (i, district) {
                    var newOption = document.createElement("option");
                    newOption.innerHTML = district.Text;  //innerHTML & not Text
                    newOption.value = district.Value;
                    dropdown.options.add(newOption);
                });
            });
        });
    });
</script>
<script>
    $(function () {
        $('#property_district').change(function () {
            //alert($('#property_state').val());
            $.getJSON('/Landlord/TehsilList/' + $('#property_district').val(), function (data) {
                var items = ''; var dropdown = document.getElementById("property_city");
                $(dropdown).empty();

                var newOption1 = document.createElement("option");
                newOption1.innerHTML = "Select City";  //innerHTML & not Text
                newOption1.value = "0";
                dropdown.options.add(newOption1);

                $.each(data, function (i, district) {
                    var newOption = document.createElement("option");
                    newOption.innerHTML = district.Text;  //innerHTML & not Text
                    newOption.value = district.Value;
                    dropdown.options.add(newOption);
                });
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
            $('#property_purpose').on('change', function () {
                var demovalue = $(this).val();
                if (demovalue == "Sale") {
                    $("div.property_rent_div").hide();
                    $("div.property_price_div").show();
                }
                if (demovalue == "Rent") {
                    $("div.property_rent_div").show();
                    $("div.property_price_div").hide();
                }
            });
    });
</script>
<script>
    $(document).ready(function () {
        var demovalue = $("#property_purpose").val();
        if (demovalue == "Sale") {
            $("div.property_rent_div").hide();
            $("div.property_price_div").show();
        }
        if (demovalue == "Rent") {
            $("div.property_rent_div").show();
            $("div.property_price_div").hide();
        }
    });
</script>



